

div {
   
margin: auto;
  width: 50%;
  padding: 10px;
  padding-top: 10%;

}
h2{
background-color: #70b1a5;
border-style: solid;
width: 50%;

}


form{
border-style: solid;
border-radius: 15px;
padding: 10px;
}

#submit{
    background-color: lightgreen;
    border-radius: 50%;

}
#reset{
    background-color: lightcoral;
    border-radius: 50%;
}